{% load staticfiles %}

<!--Geoportal osnowa-->
<!DOCTYPE html>
<html>
	<head>
        <title>Osnowa</title>

		<!--Polskie znaki--> 
		<meta charset="UTF-8"/>

		<!--Bootstrap do łatwiejszego używania css--> 
{#        <link rel="stylesheet" href="//maxcdn.bootstrtapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
{#        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}
        <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{%  static 'css/bootstrap-theme.min.css' %}">

		<!--cooooś--> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

		<!--Załączenie linków do własnych plików .css-->
		<!--Załączenie linku do pliku .css z OpenStreetMap-->
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
		<link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'css/info.css' %}" type="text/css"/>
		<link rel="stylesheet" href="{% static 'css/osnowa_app.css' %}">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>

	<body>
            {% include "osnowa_app/head.html" %}

    		<div class="info">   <!--To jest blok umożliwiający wstawianie w to miejsce HTMLa-->
			    {% block content %}
			    <!--Tu wstawi się HTML-->
                {% endblock %}
    		</div>
	</body>
</html>
