    <div class ="detail-right" id="informacje">


        <div class="detail-side-box">

            <div class="naglowek-boczny">
                <h1 class="naglowek-boczny-tekst">
                    Informacje
                </h1>
            </div>


            <div class="point-line-all">
            </div>



            <div class="point-text">


                <p>
                    Strona powstała w ramach projektu inżynierskiego, kończącego I stopień studiów na kierunku Geodezja i Kartografia na Akademii Górniczo-Hutniczej w Krakowie.
                    <div class="point-line-all">
                    </div>
                </p>

                <p>
                    Służy do prezentacji i dokumentacji Osnowy Geodezyjnej. Jej celem jest usprawnienie identyfikacji i lokalizacji punktów osnowy geodezyjnej a także stworzenie prostego narzędzia umożliwiającego oznaczanie punktów uszkodzonych.
                    <div class="point-line-all">
                    </div>
                </p>

                <p>
                    <ul class="punktory-ul">
                        Strona umożliwia:

                        <li class="punktory">Dodawanie podstawowych informacji o punkcie osnowy</li>
                        <li class="punktory">Dodawanie dokumentacji fotograficznej punktu osnowy</li>
                        <li class="punktory">Wyświetlanie położenia punktu osnowy na mapie, zgodnego z jego rzeczywistym położeniem w terenie</li>
                        <li class="punktory">Oznaczenie punktu osnowy jako niedawno odnaleziony</li>
                        <li class="punktory">Oznaczenie punktu osnowy jako uszkodzony</li>
                        <li class="punktory">Wyszukiwanie punktu osnowy po jego numerze katalogowym</li>
                        <li class="punktory">Rejestrację oraz logowanie użytkownika</li>
                    </ul>

                    <div class="point-line-all">
                    </div>
                </p>

                <p>
                    Dane dotyczące punktów osnowy, mogą być wykorzystywane jedynie w celu przybliżonej identyfikacji i lokalizacji przestrzennej punktu. Dane te nie są danymi Ośrodka Dokumentacji Geodezyjnej i Kartograficznej w rozumieniu przepisów rozporządzenia Ministra Administracji i Cyfryzacji z dnia 14 lutego 2012 r. w sprawie osnów geodezyjnych, grawimetrycznych i magnetycznych (Dz. U. z 2012 r., poz. 352).
                </p>

            </div>

        </div>

    </div>
