{% extends 'osnowa_app/base.html' %}

{% block content %}

    <div class ="detail-right">
        <div class="detail-side-box">

            <div class="point-text">
                Strona służy do prezentacji i dokumentacji Osnowy Geodezyjnej.

                Aby przeliczyć punkt należy:
                * Ustawić parametry (strefe i poludniki osiowe ukladów)
                * Wskazać wybrany punkt na mapie (poprzez kliknięcie), lub
                * Przenieść wskaźnik w odpowienie miejsce, lub
                * Wpisać współrzędne w odpowiednie pole

                Do znalezienia konkretnego adresu należy posłużyć sie narzędziem GeoCoder (lewy dolny róg), a następnie kliknąć na mapie aby przywołać wskaźnik.

            </div>

        </div>
    </div>

{% endblock %}
