{% extends 'osnowa_app/base.html' %}

{% block content %}
                                                {#blok ten chroni przed atakiem CSRF#}
	<form method="POST" action="/login/user/">{% csrf_token %}
		<div class="login-main">
            <div class="login-white-box">
                <table>
                    <!--{% comment %} {%trans "Username"%} {% endcomment %}- usunęłam trans ze wszystkiego trans tell Django: “This text should be translated into the end user’s language, if a translation for this text is available in that language.”-->
                    <h1 class="login-naglowek">Logowanie</h1>
                    <tr><td class="login-text" ><label for="id_username">Nazwa użytkownika:</label></td><td>{{ form.username }}</td></tr>
                    <tr><td class="login-text"><label for="id_password">Hasło:</label></td><td>{{ form.password }}</td></tr>
                                                                        {#Przycisk zatwierdzający formularz?#}
                    <tr><td class="login-text" colspan="2"><input type="submit" value="Login"></td></tr>
                </table>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
	</form>

{% endblock %}
