{% extends 'osnowa_app/base.html' %}

{#Tworzenie nowego punktu#}

{% block content %}
     <div class ="detail-oko" id="details2">
        <div class="detail-side-box">

             <div class="naglowek-boczny">
                <h1 class="naglowek-boczny-tekst">
                    Informacje o punkcie
                </h1>
            </div>

             <div class="point-line-all">
            </div>

            <div class="point-text">
                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                <!--wyświetlenie formularza-->
                    {{ form.as_p }}
                    <div class="point-line">
                    </div>
                <!--przycisk "zapisz"-->
                    <button type="submit" class="TellMe">Zapisz</button>

                </form>
             </div>

        </div>
    </div>
{% endblock %}
