{#Opis punktu - jego charakterystyka i własności#}

    <div class ="detail-right catalogue-{{ point.numer_katalogowy }}" id="point-details-{{ point.pk }}">
        <div class="detail-side-box">

             <div class="naglowek-boczny">
                    <h1 class="naglowek-boczny-tekst">
                        Informacje o punkcie
                    </h1>
             </div>

             <div class="point-line-all">
            </div>

            <div class="point-text">
                <p>Nazwa punktu: {{ point.nazwa }}</p>
                <p>Klasa punktu: {{ point.klasa|linebreaksbr }}</p>
                <p>Numer katalogowy: {{ point.numer_katalogowy }}</p>
                <p>Województwo: {{ point.wojewodztwo }}</p>
                <p>Powiat: {{ point.powiat }}</p>
                <p>Gmina: {{ point.gmina }}</p>
                <p>Miejscowość: {{ point.miejscowosc }}</p>
                <p>Wsp. (2000): {{ point.wsp_2000 }}</p>
                <p>Wsp. (lokalne): {{ point.wsp_lokalne }}</p>
                <p>Wsp. (WGS 84): <span class="coordinates">{{ point.wsp_WGS84 }}</span></p>
                <p>H (AMSTERDAM): {{ point.h_amsterdam }}</p>
                <p>H (KRONSZTADT 86): {{ point.h_kronsztadt_86 }}</p>
                <p>Stabilizacja: {{ point.stabilizacja }}</p>
                <p>Typ znaku: {{ point.typ_znaku }}</p>
                <p>Punkt znaleziono: {{ point.find_date }} </p>
                <p>Zdjęcie punktu: </p>
                <div class="div_zdjecie_punktu">
                    <img src="/{{ point.zdjecie }}" class="zdjecie_punktu">
                </div>


                <p>Punkt odnaleziono: {{ point.odnaleziony }} razy.</p>
                <p>Punkt oznaczono jako uszkodzony: {{ point.uszkodzony }} razy.</p>


                <div class="point-line">
                </div>





                <!--przycisk "oznacz jako odnaleziony"-->
                {% if user.is_authenticated %}
                    <form method="POST">{% csrf_token %}

                        <button name="odnaleziony" type="submit" class="TellMe">Oznacz jako odnaleziony </button>

                    </form>

                {% else %}
                    <a href="{% url 'login_user' %}" class="TellMe">Oznacz jako odnaleziony </a>
                {% endif %}


                <!--przycisk "oznacz jako uszkodzony"-->
                {% if user.is_authenticated %}
                    <form method="POST">{% csrf_token %}

                        <button name="uszkodzony" type="submit" class="TellMe">Oznacz jako uszkodzony </button>

                    </form>

                {% else %}
                    <a href="{% url 'login_user' %}" class="TellMe">Oznacz jako uszkodzony </a>
                {% endif %}

                <!--przycisk "Edytuj punkt"-->
                {% if user.is_authenticated %}
                    <form method="POST">{% csrf_token %}

                        <a href="{% url 'point_edit' pk=point.pk %}" class="TellMe">Edytuj punkt</a>

                    </form>

                {% else %}
                    <a href="{% url 'login_user' %}" class="TellMe">Edytuj punkt</a>
                {% endif %}

            </div>

        </div>
    </div>
