{% extends 'osnowa_app/base.html' %}

{#Opis punktu - jego charakterystyka i własności#}

{% block content %}
    <div class ="detail-right">
        <div class="detail-side-box">

            <div class="point-text">
                <h1><b>Szczegółowe informacje o punkcie:</b></h1>
                <p>Nazwa punktu: {{ point.nazwa }}</p>
                <p>Klasa punktu: {{ point.klasa|linebreaksbr }}</p>
                <p>Numer katalogowy: {{ point.numer_katalogowy }}</p>
                <p>Województwo: {{ point.wojewodztwo }}</p>
                <p>Powiat: {{ point.powiat }}</p>
                <p>Gmina: {{ point.gmina }}</p>
                <p>Miejscowość: {{ point.miejscowosc }}</p>
                <p>Wsp. (2000): {{ point.wsp_2000 }}</p>
                <p>Wsp. (lokalne): {{ point.wsp_lokalne }}</p>
                <p>Wsp. (WGS 84): {{ point.wsp_WGS84 }}</p>
                <p>Stabilizacja: {{ point.stabilizacja }}</p>
                <p>Typ znaku: {{ point.typ_znaku }}</p>
                <p>Punkt znaleziono: {{ point.find_date }} </p>


            </div>

            <div class="point-line">
            </div>

            {#Przycisk edycji punktu#}
            {% if user.is_authenticated %}
	            <a href="{% url 'point_edit' pk=point.pk %}" class="TellMe">Edytuj punkt</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
