{% extends 'osnowa_app/base.html' %}

{#Strona profilowa użytkownika#}

{% block content %}

    <div class ="detail-right">
        <div class="detail-side-box">

            <div class="naglowek-boczny">
                <h1 class="naglowek-boczny-tekst">
                    Twój profil
                </h1>
            </div>

            <div class="point-line-all">
            </div>


            <div class="point-text">
                <img class="user-profile-header" src="/static/images/photo.png" alt="Fender Rhodes, Hohner Clavinet, and Wurlitzer EP200" />

                <div class="item-content">
                    <h1 class="nazwa">
                        Nazwa_użytkownika
                    </h1>
                    <p>
                        <ul class="punktory-ul">
                            <li>- Data rejestracji: 01.05.2016</li>
                            <li>- Liczba punktów osnowy dodanych przez użytkownika: 0</li>
                        </ul>
                    </p>
                    <div class="point-line">
                    </div>
                                                                        {#Przycisk zatwierdzający formularz?#}
                <input type="submit" value="Edytuj profil" class="TellMe">
                </div>

            </div>

        </div>
    </div>




{#   <div class="main-content">#}
{#				<div class="white-basic">#}
{#					#}
{##}
{#					<div class="opis-osoby">#}
{#						<div class="opis">#}
{#							Inteligencja na poziomie geniusza dzięki, której może tworzyć różne zaawansowane technologicznie wynalazki w tym najważniejsze, jego zbroje Iron Mana. Posiada również ogromną wiedzę i zmysł do biznesu.#}
{##}
{#Iron Man wyposażony jest w cybernetyczną zbroję, która daje mu nadludzką siłę, wytrzymałość, zdolność lotu i ma wbudowane ogromne ilości uzbrojenia. Wygląd pancerza zmieniał się przez lata wiele razy, poprzez ulepszenia i modyfikacje wprowadzane przez Tony'ego. Oryginalna zbroja była szara, ale Stark widząc, że jej wygląd może odstraszać ludzi, przemalował ją na kolor złoty. Ten masywny i niewygodny pancerz, został zmieniony na lżejszą formę w "Tales of Suspense #48 i pojawił sie w kolorach czerwieni i złota, co stało się podstawową paletą barw pancerza na kolejne lata, aż do dnia dzisiejszego. Jedynym ważnym wyjątkiem była zbroja Silver Centuriona w kolorach czerwonym i srebrnym, stworzona przed walką z Iron Mongerem i używana do końca "Armor Wars".#}
{##}
{##}
{#						</div>#}
{##}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{% endblock %}
