{#Strona profilowa użytkownika#}

    <div class ="detail-right" id="profil">
        <div class="detail-side-box">

            <div class="naglowek-boczny">
                <h1 class="naglowek-boczny-tekst">
                    Twój profil
                </h1>
            </div>

            <div class="point-line-all">
            </div>


            <div class="point-text">
                <img class="user-profile-header" src="/static/images/photo.png" alt="Fender Rhodes, Hohner Clavinet, and Wurlitzer EP200" />

                <div class="item-content">
                    <h1 class="nazwa">
                        Nazwa_użytkownika
                    </h1>
                    <p>
                        <ul class="punktory-ul">
                            <li>- Data rejestracji: 01.05.2016</li>
                            <li>- Liczba punktów osnowy dodanych przez użytkownika: 0</li>
                        </ul>
                    </p>
                    <div class="point-line">
                    </div>
                                                                        {#Przycisk zatwierdzający formularz?#}
                <input type="submit" value="Edytuj profil" class="TellMe">
                </div>

            </div>

        </div>
    </div>
